RAZORPAY_KEY_ID=
RAZORPAY_KEY_SECRET=

LOG_LEVEL=

#Database
DATABASE_URL=
DATABASE_URL_TEST=

DATABASE_MAX_OPEN_CONNECTIONS=
DATABASE_MAX_IDLE_CONNECTIONS=
DATABASE_MAX_CONNECTION_LIFETIME=

LLM_PROVIDER=
ANTHROPIC_API_KEY=
ANTHROPIC_MODEL=
GEMINI_API_KEY=
GEMINI_MODEL=