---
version: 2
interactions:
    - id: 0
      request:
        host: api.razorpay.com
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.razorpay.com/v1/customers/cust_TXrhXepAQFpm3Q/tokens/token_TXriCwptx38v9J
        method: GET
      response:
            - chunked
        body: '{"id":"token_TXriCwptx38v9J","entity":"token","token":"HwYnrnhGZg5u75","bank":null,"wallet":null,"method":"card","card":{"entity":"card","name":"","last4":"4366","network":"Visa","type":"credit","issuer":"UTIB","international":false,"emi":true,"sub_type":"consumer","token_iin":"471860910","expiry_month":"01","expiry_year":"2099","flows":{"otp":true,"recurring":true},"cobranding_partner":null},"recurring":true,"recurring_details":{"status":"confirmed","failure_reason":null},"auth_type":null,"mrn":null,"used_at":1788509591,"created_at":1788504289,"expired_at":1790792999,"status":"failed","notes":[],"error_description":null,"source":"business","entity_id":null,"dcc_enabled":false,"max_amount":200000,"error_code":null,"compliant_with_tokenisation_guidelines":true}'
        headers:
            Content-Type:
                - application/json
            X-Pam:
                - "0"
        status: 200 OK
        code: 200
        duration: 799.2665ms
    - id: 1
      request:
        host: api.razorpay.com
        body: '{"amount":10000,"currency":"INR","receipt":"mandate-debit-req_execute_debit_regression_1"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.razorpay.com/v1/orders
        method: POST
      response:
        body: '{"amount":10000,"amount_due":10000,"amount_paid":0,"attempts":0,"created_at":1788510103,"currency":"INR","entity":"order","id":"order_TXtMYaDHMI59tW","notes":[],"offer_id":null,"receipt":"mandate-debit-req_execute_debit_regression_1","status":"created"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 114.605417ms
    - id: 2
      request:
        host: api.razorpay.com
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.razorpay.com/v1/customers/cust_TXrhXepAQFpm3Q
        method: GET
      response:
        body: '{"id":"cust_TXrhXepAQFpm3Q", "entity":"customer", "name":"Discovery Test User", "email":"discovery@example.com", "contact":"9004739000", "gstin":null, "notes":[], "shipping_address":[], "created_at":1788504252}'
        headers:
            Content-Type:
                - application/json
            Grpc-Metadata-Content-Type:
                - application/grpc
        status: 200 OK
        code: 200
        duration: 81.7865ms
    - id: 3
      request:
        host: api.razorpay.com
        body: '{"amount":10000,"contact":"9004739000","currency":"INR","customer_id":"cust_TXrhXepAQFpm3Q","email":"discovery@example.com","order_id":"order_TXtMYaDHMI59tW","recurring":true,"token":"token_TXriCwptx38v9J"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.razorpay.com/v1/payments/create/recurring
        method: POST
      response:
            - chunked
        body: '{"razorpay_payment_id":"pay_TXtMZSpXh4gc00","razorpay_order_id":"order_TXtMYaDHMI59tW","razorpay_signature":"9a07937bc02b8ee070e11e973ab6f8b2231aad2ce89b71c276cf4432780df2e2"}'
        headers:
            Content-Type:
                - application/json
            Uber-Trace-Id:
                - 442ee8d4b926ea1be4618efc2c4a5820:2ea72cd09f77a549:0000000000000000:1
            X-Pam:
                - "0"
        status: 200 OK
        code: 200
        duration: 1.93942175s
