---
version: 2
interactions:
    - id: 0
      request:
        host: api.razorpay.com
        body: '{"contact":"9992895000","email":"test@example.com","name":"Test User"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.razorpay.com/v1/customers
        method: POST
      response:
        body: '{"id":"cust_TXWjuGLMhOKNQW", "entity":"customer", "name":"Test User", "email":"test@example.com", "contact":"9992895000", "gstin":null, "notes":[], "shipping_address":[], "created_at":1788430432}'
        headers:
            Content-Type:
                - application/json
            Grpc-Metadata-Content-Type:
                - application/grpc
        status: 200 OK
        code: 200
        duration: 509.843667ms
    - id: 1
      request:
        host: api.razorpay.com
        body: '{"amount":100,"currency":"INR","customer_id":"cust_TXWjuGLMhOKNQW","method":"card","token":{"expire_at":1795342432,"frequency":"monthly","max_amount":100000}}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.razorpay.com/v1/orders
        method: POST
      response:
        body: '{"amount":100,"amount_due":100,"amount_paid":0,"attempts":0,"created_at":1788430434,"currency":"INR","entity":"order","id":"order_TXWjvxwSYTMyUd","method":"card","notes":[],"offer_id":null,"receipt":null,"status":"created","token":{"expire_at":1795342432,"frequency":"monthly","max_amount":100000}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 1.52495975s
    - id: 2
      request:
        host: api.razorpay.com
        body: '{"amount":100,"currency":"INR","customer_id":"cust_TXWjuGLMhOKNQW","method":"card","token":{"expire_at":1795342436,"frequency":"monthly","max_amount":0}}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.razorpay.com/v1/orders
        method: POST
      response:
        body: '{"error":{"code":"BAD_REQUEST_ERROR","description":"The max amount should be greater than zero.","metadata":{},"reason":"input_validation_failed","source":"business","step":"payment_initiation"}}'
        headers:
            Content-Type:
                - application/json
        status: 400 Bad Request
        code: 400
        duration: 1.473963209s
    - id: 3
      request:
        host: api.razorpay.com
        body: '{"amount":100,"card":{"cvv":"123","expiry_month":"12","expiry_year":"29","name":"Test User","number":"4111111111111111"},"contact":"9999999999","currency":"INR","customer_id":"cust_TXWjuGLMhOKNQW","email":"test@example.com","method":"card","order_id":"order_TXWjvxwSYTMyUd","recurring":"1"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.razorpay.com/v1/payments/create/json
        method: POST
      response:
        body: '{"error":{"code":"BAD_REQUEST_ERROR","description":"The requested URL was not found on the server.","source":"internal","step":"NA","reason":"NA","metadata":{}}}'
        headers:
            Content-Type:
                - application/json
            X-Pam:
                - "0"
        status: 400 Bad Request
        code: 400
        duration: 1.045096708s
    - id: 4
      request:
        host: api.razorpay.com
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.razorpay.com/v1/customers/cust_TXWjuGLMhOKNQW/tokens/
        method: GET
      response:
            - chunked
        body: '{"entity":"collection","count":0,"items":[]}'
        headers:
            Content-Type:
                - application/json
            Uber-Trace-Id:
                - f3d49c17e5e72bab11b89814eebbacb5:02b5f78f346adaa5:0000000000000000:1
            X-Pam:
                - "0"
        status: 200 OK
        code: 200
        duration: 446.6105ms
    - id: 5
      request:
        host: api.razorpay.com
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.razorpay.com/v1/customers/cust_TXWjuGLMhOKNQW/tokens/
        method: GET
      response:
            - chunked
        body: '{"entity":"collection","count":0,"items":[]}'
        headers:
            Content-Type:
                - application/json
            Uber-Trace-Id:
                - a8d06b5318b60613ba67c72d0e3e8f44:9986a517235958a5:0000000000000000:1
            X-Pam:
                - "0"
        status: 200 OK
        code: 200
        duration: 500.896667ms
[...]
    - id: 8
      request:
        host: api.razorpay.com
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.razorpay.com/v1/customers/cust_TXWjuGLMhOKNQW/tokens/
        method: GET
      response:
            - chunked
        body: '{"entity":"collection","count":0,"items":[]}'
        headers:
            Content-Type:
                - application/json
            Uber-Trace-Id:
                - b90aa8a8b1b30e70c057b385d25b5057:1ed4027d9017db6d:0000000000000000:1
            X-Pam:
                - "0"
        status: 200 OK
        code: 200
        duration: 526.425791ms
    - id: 9
      request:
        host: api.razorpay.com
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.razorpay.com/v1/customers/cust_TXWjuGLMhOKNQW/tokens/
        method: GET
      response:
            - chunked
        body: '{"entity":"collection","count":0,"items":[]}'
        headers:
            Content-Type:
                - application/json
            Uber-Trace-Id:
                - d4f8c68f51168dfcd5ef99fc1ab6f734:111d553d41d85ee7:0000000000000000:1
            X-Pam:
                - "0"
        status: 200 OK
        code: 200
        duration: 566.606584ms
    - id: 10
      request:
        host: api.razorpay.com
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.razorpay.com/v1/customers/cust_TXWjuGLMhOKNQW/tokens/
        method: GET
      response:
            - chunked
        body: '{"entity":"collection","count":0,"items":[]}'
        headers:
            Content-Type:
                - application/json
            Uber-Trace-Id:
                - d46612ca2585c4845aff2dc0383d4e82:506456cc2ca0c717:0000000000000000:1
            X-Pam:
                - "0"
        status: 200 OK
        code: 200
        duration: 432.965333ms
    - id: 11
      request:
        host: api.razorpay.com
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.razorpay.com/v1/customers/cust_TXWjuGLMhOKNQW/tokens/
        method: GET
      response:
            - chunked
        body: '{"entity":"collection","count":0,"items":[]}'
        headers:
            Content-Type:
                - application/json
            Uber-Trace-Id:
                - b0f0f1d6752bb238577c150141eb1213:1f99ec1ba10bf7e9:0000000000000000:1
            X-Pam:
                - "0"
        status: 200 OK
        code: 200
        duration: 478.504333ms
[...]
    - id: 14
      request:
        host: api.razorpay.com
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.razorpay.com/v1/customers/cust_TXWjuGLMhOKNQW/tokens/
        method: GET
      response:
            - chunked
        body: '{"entity":"collection","count":0,"items":[]}'
        headers:
            Content-Type:
                - application/json
            Uber-Trace-Id:
                - c8b0fe6c50d8cbd0a30a0ffdbf89f492:7629a52c17bd0979:0000000000000000:1
            X-Pam:
                - "0"
        status: 200 OK
        code: 200
        duration: 591.892667ms
[...]
