---
version: 2
interactions:
    - id: 0
      request:
        host: api.razorpay.com
        body: '{"contact":"9004739000","email":"discovery@example.com","name":"Discovery Test User"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.razorpay.com/v1/customers
        method: POST
      response:
        body: '{"id":"cust_TXrhXepAQFpm3Q", "entity":"customer", "name":"Discovery Test User", "email":"discovery@example.com", "contact":"9004739000", "gstin":null, "notes":[], "shipping_address":[], "created_at":1788504252}'
        headers:
            Content-Type:
                - application/json
            Grpc-Metadata-Content-Type:
                - application/grpc
        status: 200 OK
        code: 200
        duration: 335.603125ms
    - id: 1
      request:
        host: api.razorpay.com
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.razorpay.com/v1/customers/cust_TXrhXepAQFpm3Q/tokens
        method: GET
      response:
            - chunked
        body: '{"entity":"collection","count":0,"items":[]}'
        headers:
            Content-Type:
                - application/json
            Uber-Trace-Id:
                - 4bafea2ad4885c79a0d19c27613211ab:11f6314969a9e2bc:0000000000000000:1
            X-Pam:
                - "0"
        status: 200 OK
        code: 200
        duration: 538.140333ms
    - id: 2
      request:
        host: api.razorpay.com
        body: '{"amount":100,"currency":"INR","customer":{"contact":"9004739000","email":"discovery@example.com","name":"Discovery Test User"},"description":"Token discovery test","subscription_registration":{"expire_at":1791096253,"frequency":"as_presented","max_amount":200000,"method":"card"},"type":"link"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.razorpay.com/v1/subscription_registration/auth_links
        method: POST
      response:
            - chunked
        body: '{"id":"inv_TXrhZf6eVhyH9t","entity":"invoice","receipt":null,"invoice_number":null,"customer_id":"cust_TXrhXepAQFpm3Q","customer_details":{"id":"cust_TXrhXepAQFpm3Q","name":"Discovery Test User","email":"discovery@example.com","contact":"9004739000","gstin":null,"billing_address":null,"shipping_address":null,"customer_name":"Discovery Test User","customer_email":"discovery@example.com","customer_contact":"9004739000"},"order_id":"order_TXrhZnSpH1uhVK","line_items":[],"payment_id":null,"status":"issued","expire_by":null,"issued_at":1788504254,"paid_at":null,"cancelled_at":null,"expired_at":null,"sms_status":"pending","email_status":"pending","date":1788504253,"terms":null,"partial_payment":false,"gross_amount":100,"tax_amount":0,"taxable_amount":0,"amount":100,"amount_paid":0,"amount_due":100,"currency":"INR","currency_symbol":"\u20b9","description":"Token discovery test","notes":[],"comment":null,"short_url":"https:\/\/rzp.io\/rzp\/Q4hvWgfe","view_less":true,"billing_start":null,"billing_end":null,"type":"link","group_taxes_discounts":false,"created_at":1788504254,"idempotency_key":null,"ref_num":null,"auth_link_status":"issued"}'
        headers:
            Content-Type:
                - application/json
            X-Pam:
                - "0"
        status: 200 OK
        code: 200
        duration: 899.35325ms
[...]
    - id: 7
      request:
        host: api.razorpay.com
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.razorpay.com/v1/customers/cust_TXrhXepAQFpm3Q/tokens
        method: GET
      response:
            - chunked
        body: '{"entity":"collection","count":0,"items":[]}'
        headers:
            Content-Type:
                - application/json
            Uber-Trace-Id:
                - d348cd2548084f60bee0460c53c32d2d:bcb70a5befd880c4:0000000000000000:1
            X-Pam:
                - "0"
        status: 200 OK
        code: 200
        duration: 537.9785ms
    - id: 8
      request:
        host: api.razorpay.com
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.razorpay.com/v1/customers/cust_TXrhXepAQFpm3Q/tokens
        method: GET
      response:
            - chunked
        body: '{"entity":"collection","count":0,"items":[]}'
        headers:
            Content-Type:
                - application/json
            Uber-Trace-Id:
                - e9a2bceb162c6e876dec470e06768c20:3535ec18bda77f13:0000000000000000:1
            X-Pam:
                - "0"
        status: 200 OK
        code: 200
        duration: 492.547ms
    - id: 9
      request:
        host: api.razorpay.com
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.razorpay.com/v1/customers/cust_TXrhXepAQFpm3Q/tokens
        method: GET
      response:
            - chunked
        body: '{"entity":"collection","count":0,"items":[]}'
        headers:
            Content-Type:
                - application/json
            Uber-Trace-Id:
                - ee8842924711bf7a1bcd37da412fcc72:0431918949284fa0:0000000000000000:1
            X-Pam:
                - "0"
        status: 200 OK
        code: 200
        duration: 440.729959ms
[...]
    - id: 11
      request:
        host: api.razorpay.com
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.razorpay.com/v1/customers/cust_TXrhXepAQFpm3Q/tokens
        method: GET
      response:
            - chunked
        body: '{"entity":"collection","count":0,"items":[]}'
        headers:
            Content-Type:
                - application/json
            Uber-Trace-Id:
                - ef3ad6a317a78e06149aa7816e11b767:b8861cbee8c47a28:0000000000000000:1
            X-Pam:
                - "0"
        status: 200 OK
        code: 200
        duration: 439.19975ms
[...]
    - id: 15
      request:
        host: api.razorpay.com
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.razorpay.com/v1/customers/cust_TXrhXepAQFpm3Q/tokens
        method: GET
      response:
            - chunked
        body: '{"entity":"collection","count":0,"items":[]}'
        headers:
            Content-Type:
                - application/json
            Uber-Trace-Id:
                - eee7f49f4ad4764f5cc5c29cbc38123a:2bd9eeebed591c46:0000000000000000:1
            X-Pam:
                - "0"
        status: 200 OK
        code: 200
        duration: 542.041541ms
[...]
    - id: 19
      request:
        host: api.razorpay.com
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.razorpay.com/v1/customers/cust_TXrhXepAQFpm3Q/tokens
        method: GET
      response:
            - chunked
        body: '{"entity":"collection","count":1,"items":[{"id":"token_TXriCwptx38v9J","entity":"token","token":"HwYnrnhGZg5u75","bank":null,"wallet":null,"method":"card","card":{"entity":"card","name":"","last4":"4366","network":"Visa","type":"credit","issuer":"UTIB","international":false,"emi":true,"sub_type":"consumer","token_iin":"471860910","expiry_month":"01","expiry_year":"2099","flows":{"otp":true,"recurring":true},"cobranding_partner":null},"vpa":null,"recurring":true,"recurring_details":{"status":"confirmed","failure_reason":null},"auth_type":null,"mrn":null,"used_at":1788504290,"created_at":1788504289,"expired_at":1790792999,"status":"failed","notes":[],"error_description":null,"source":"business","entity_id":null,"dcc_enabled":false,"max_amount":200000,"error_code":null,"compliant_with_tokenisation_guidelines":true}]}'
        headers:
            Content-Type:
                - application/json
            Uber-Trace-Id:
                - 34af5913cf4b408f7fa52909fcb0049d:13dd1fa2431c9285:0000000000000000:1
            X-Pam:
                - "0"
        status: 200 OK
        code: 200
        duration: 913.851208ms
