---
version: 2
interactions:
    - id: 0
      request:
        host: api.razorpay.com
        body: '{"contact":"9000000003","email":"timeout@example.com","name":"Timeout Test User"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.razorpay.com/v1/customers
        method: POST
      response:
        body: '{"id":"cust_TXtF3ZinOHkMDJ", "entity":"customer", "name":"Timeout Test User", "email":"timeout@example.com", "contact":"9000000003", "gstin":null, "notes":[], "shipping_address":[], "created_at":1788509677}'
        headers:
            Content-Type:
                - application/json
            Grpc-Metadata-Content-Type:
                - application/grpc
        status: 200 OK
        code: 200
        duration: 477.775208ms
    - id: 1
      request:
        host: api.razorpay.com
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.razorpay.com/v1/customers/cust_TXtF3ZinOHkMDJ/tokens
        method: GET
      response:
            - chunked
        body: '{"entity":"collection","count":0,"items":[]}'
        headers:
            Content-Type:
                - application/json
            Uber-Trace-Id:
                - 2213660f30e2439c19ae5371846b145b:2a2912a01509e460:0000000000000000:1
            X-Pam:
                - "0"
        status: 200 OK
        code: 200
        duration: 511.931875ms
[...]
    - id: 3
      request:
        host: api.razorpay.com
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.razorpay.com/v1/customers/cust_TXtF3ZinOHkMDJ/tokens
        method: GET
      response:
            - chunked
        body: '{"entity":"collection","count":0,"items":[]}'
        headers:
            Content-Type:
                - application/json
            Uber-Trace-Id:
                - cacfb0a84720b0a254bcc5ff437614ed:72851661d0276609:0000000000000000:1
            X-Pam:
                - "0"
        status: 200 OK
        code: 200
        duration: 484.111083ms
[...]
    - id: 6
      request:
        host: api.razorpay.com
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.razorpay.com/v1/customers/cust_TXtF3ZinOHkMDJ/tokens
        method: GET
      response:
            - chunked
        body: '{"entity":"collection","count":0,"items":[]}'
        headers:
            Content-Type:
                - application/json
            Uber-Trace-Id:
                - d7747dbd1a2fd5c8f176287eac5c6dce:a8bf1479147bf693:0000000000000000:1
            X-Pam:
                - "0"
        status: 200 OK
        code: 200
        duration: 524.306167ms
[...]
    - id: 9
      request:
        host: api.razorpay.com
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.razorpay.com/v1/customers/cust_TXtF3ZinOHkMDJ/tokens
        method: GET
      response:
            - chunked
        body: '{"entity":"collection","count":0,"items":[]}'
        headers:
            Content-Type:
                - application/json
            Uber-Trace-Id:
                - ff92ad7bec32ffdc64d4001b9721c3d1:013a679433ce60b0:0000000000000000:1
            X-Pam:
                - "0"
        status: 200 OK
        code: 200
        duration: 567.179042ms
